 /* #region Root */

 :root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;

    --cl-primary-color: #4D5AE5;
    --cl-pressed-state: #404BBF;
    --cl-dark: #2E2F42;
    --cl-success: #31D0AA;
    --cl-text: #434455;
    --cl-subtle-text: #8E8F99;
    --cl-accent: #E7E9FC;
    --cl-light: #F4F4FD;
    --cl-modal-overlay: 46 47 66 / 0.4;
    --cl-hero-background: 46 47 66;
    --cl-white: #FFFFFF;
    --cl-modal-bg: #FCFCFC;

    /* Grids */
    --grid-4-items: 4;
    --grid-3-items: 3;
    --indent-row: 48px;
    --indent-col: 24px;

    /* Animations */
    --anim-duration-basic: 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 /* #endregion Root */
 
 /* #region Common */

   body {
       font-family: var(--main-font);
       color: var(--cl-text);
       background-color: var(--cl-white);
       letter-spacing: 0.02em;
       line-height: 1.5;

       display: block;
   }

   h1, h2, h3, h4, h5, h6, p, ul, il, a {
      margin: 0;
      padding: 0;
   }

   h1 {
    font-size: 56px;
    letter-spacing: 0.02em;
   }

   h2 {
    color: var(--cl-dark);
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
   }

   h3 {
    color: var(--cl-dark);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
   }

   a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
   }

   ul,
   ol {
       list-style-type: none;
   }

   button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
    background-color: inherit;
    border: none;
   }

   address {
    font-style: normal;
   }

   img {
      display: block;
      max-width: 100%;
   }

    .logo {
        font-family: var(--secondary-font);
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--cl-primary-color);
    }
    
    .logo.dark {
        color: var(--cl-dark);
    }

    .logo.light {
        color: var(--cl-light);
    }

    /* Main container */
   .container {
      max-width: 368px;
      padding: 0 16px;
      margin-left: auto;
      margin-right: auto;
   }

   @media only screen and (min-width: 768px) {
     .container {
         max-width: 768px;
     }
   }

   @media only screen and (min-width: 1158px) {
        .container {
         max-width: 1158px;
         padding: 0 15px;
        }
      }

   section {
      padding-top: 96px;
      padding-bottom: 96px;
   }
   
   @media only screen and (min-width: 1158px) {
      section {
        padding-top: 120px;
        padding-bottom: 120px;
     }
   }

   .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
   }

   .socials {
      display: flex;
      justify-content: center;
      gap: 24px;
   }


   .social-icons {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--cl-primary-color);
      padding: 12px;
      border-radius: 50%;
      line-height: 0;
      transition: var(--anim-duration-basic);
      transition-property: background-color;
   }

   .icon {
      fill: var(--cl-light);
   }

   .social-icons:hover,
   .social-icons:focus {
      background-color: var(--cl-pressed-state);
      }

      
 /* #endregion Base */

 /* #region Navigation */

 .header-logo {
   margin-right: 0;
   padding: 16px 0;
 }

 @media only screen and (min-width: 768px) {
   .header-logo {
   margin-right: 120px;
   padding: 24px 0;
   }
 }

 @media only screen and (min-width: 1158px) {
   .header-logo {
   margin-right: 76px;
   }
 }

 header {
   background-color: var(--cl-white);
   border-bottom: 1px solid var(--cl-accent);
   box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .header {
   display: flex;
   flex-basis: 100%;
   justify-content: space-between;
   align-items: center;
   padding-top: 0px;
   padding-bottom: 0px;
 }

 @media only screen and (min-width: 768px) {
   .header {
     
   }
 }

 @media only screen and (min-width: 1158px) {
   .header {
     
   }
 }

 .nav {
   display: flex;
   align-items: center;
 }
 
 .nav-list {
   display: none;
 }

  @media only screen and (min-width: 768px) {
    .nav-list {
      display: flex;
      gap: 40px;
    }
  }

@media only screen and (min-width: 1158px) {
   .nav-list {
   }
}


 .nav-list-item {
   
 }

 .nav-link {
   position: relative;
   display: block;

   font-weight: 500;
   letter-spacing: 0.02em;
   color: var(--cl-dark);
   padding: 24px 0;

   transition: var(--anim-duration-basic);
      transition-property: color;
}

.active-link {
   color: var(--cl-pressed-state);
}

.active-link::after {
   content: "";
   position: absolute;
   bottom: -1px;
   left: 0;
   width: 100%;
   height: 4px;
   
   display: block;

   border-radius: 2px;
   background-color: var(--cl-pressed-state);

 }

 .nav-link:hover,
 .nav-link:focus {
    color: var(--cl-pressed-state);
 }

 .address {
   display: none;
 }

@media only screen and (min-width: 768px) {
   .address {
   display: flex;
  }
} 

 .address-list {
   display: none;
 }

 @media only screen and (min-width: 768px) {
   .address-list {
   display: flex;
   flex-direction: column;
   }
 }

 @media only screen and (min-width: 1158px) {
   .address-list {
      flex-direction: row;
      gap: 40px;
   }
 }

 .address-list-item {
   
 }

 .address-link {
    color: var(--cl-text);
   transition: var(--anim-duration-basic);
      transition-property: color;
 }

 @media only screen and (min-width: 768px) {
   .address-link {
      color: var(--cl-text);
      font-size: 12px;
      font-weight: 400;
      line-height: 1.16;
      letter-spacing: 0.04em;
   }
 }

 @media only screen and (min-width: 1158px) {
   .address-link {

         font-size: 16px;
         line-height: 1.5;
         letter-spacing: 0.02em;
   }
   .address-link:hover,
   .address-link:focus {
      color: var(--cl-pressed-state);
   }
 }

    /* #endregion Navigation */

/* #region Mobile Menu  */
 .mob-menu-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   min-width: 24px;
   min-height: 24px;
   padding: 0;
   border: none;
   background-color: transparent;
 }

 @media only screen and (min-width: 768px) {
   .mob-menu-btn {
     display: none;
   }
 }

 .mobile-menu-icon {
   display: block;
   fill: var(--cl-dark);
   padding: 0;
   line-height: 0;
 }
.mob-menu.is-open {
   opacity: 1;
   pointer-events: auto;
   visibility: visible;
}

 .mob-menu {
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 0;
   top: 0;
   width: 100dvw;
   height: 100dvh;
   background-color: var(--cl-white);
   padding: 72px 16px 40px 16px;

   opacity: 0;
   pointer-events: none;
   visibility: hidden;
 }

  .mob-menu .close-button {
   background-color: rgba(231, 233, 252, 0.1);
   border-color: rgba(46, 47, 66, 0.1);
 }

 .close-icon {}

 .mob-menu-nav {
   flex-grow: 1;
 }

 .mob-menu-link {
   
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      color: var(--cl-dark);
 }

 .mob-menu-link.active-link {
   color: var(--cl-pressed-state);
 }

  .mob-menu-link:not(last-child) {
   margin-bottom: 40px;
  }

 .mob-menu-address {
   margin-bottom: 48px;
 }

 
 .mob-menu-address-link {
    
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--cl-text);
   }
   
   .mob-menu-address-link:not(last-child) {
      margin-bottom: 24px;
   }

   .mob-menu-address-link.active-link {
      color: var(--cl-primary-color);
   }
   
 .mob-menu .socials {
   justify-content: flex-start;
 }

 .mob-menu .socials-list-item {
   
 }

 .mob-menu .social-icons {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   padding: 0;
 }

 .mob-menu .icon {
 }
/* #endregion Mobile Menu */

/* #region Hero */
 
.hero {
   background-color: var(--cl-dark);
   background-image: linear-gradient( rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
   url(../images/hero/mob-hero.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   max-width: 100dvw;
   margin: 0 auto;
}
@media (min-resolution: 192dpi) {
   .hero {
      background-image: linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
         url(../images/hero/mob-hero@2x.jpg);
   }
}
@media only screen and (min-width: 768px) {
   .hero {
      padding: 112px 0;
      max-width: 100dvw;
      background-image: linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
            url(../images/hero/tab-hero.jpg);
   }
}

@media (min-resolution: 192dpi) and (min-width: 768px) {
   .hero {
         background-image: linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
            url(../images/hero/tab-hero@2x.jpg);
      }
}

@media only screen and (min-width: 1158px) {
   .hero {
      padding: 188px 0;
      max-width: 1440px;
      background-image: linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
            url(../images/hero/hero-bg.jpg);
   }
 }

 @media (min-resolution: 192dpi) and (min-width: 1158px) {
   .hero {
      background-image: linear-gradient(rgb(46 47 66 / 0.7), rgb(46 47 66 / 0.7)),
         url(../images/hero/hero-bg@2x.jpg);
   }
}

 .hero-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .hero-title {
    color: var(--cl-white);
    
    text-align: center;
      max-width: 216px;
      margin-bottom: 72px;
         font-size: 36px;
         font-weight: 700;
         line-height: 1.11;
   }
   
   @media only screen and (min-width: 768px) {
      .hero-title {
         max-width: 496px;
         margin-bottom: 36px;
         font-size: 56px;
         font-weight: 700;
         line-height: 1.07;
      }
   }
   
   @media only screen and (min-width: 1158px) {
      .hero-title {
        margin-bottom: 48px; 
     }
   }

 .hero-button {
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    
    background-color: var(--cl-primary-color);
    color: var(--cl-white);
    
    padding: 16px 32px;
    margin: 0 auto;
    min-width: 169px;
   border-radius: 4px;

   transition: var(--anim-duration-basic);
   transition-property: background-color;
    
 }

 .hero-button:hover,
 .hero-button:focus {
    background-color: var(--cl-pressed-state);
    color: var(--cl-white);
 }

 /* #endregion Hero */

 /* #region Values */
 .values {
   display: flex;
 }

 .values-title {
    
 }

 .values-list {
   display: flex;
   flex-direction: column;
 }

 @media only screen and (min-width: 768px) {
   .values-list {
      flex-direction: row;
      flex-wrap: wrap;
      flex-basis: calc(100% - 24px) / 2;
   }
 }

 @media only screen and (min-width: 1158px) {
    .values-list {
      flex-wrap: nowrap;
    }
 }

 .values-icon-box {
   display: none;
}

@media only screen and (min-width: 1158px) {
   .values-icon-box {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 112px;
       
       background-color: var(--cl-light);
       border: 1px solid var(--cl-subtle-text);
       border-radius: 4px;
       
       width: 100%;
       padding: 24px 100px;
       margin-bottom: 8px;
      
    }
  }


 .values-list-item {
   display: flex;
   flex-direction: column;
   max-width: 264px;
   margin-bottom: 72px;
 }

  @media only screen and (min-width: 768px) {
    .values-list-item {
      max-width: 356px;
    }
  }

 @media only screen and (min-width: 1158px) {
   .values-list-item {
   margin-bottom: 0;
   max-width: 356px;
   }
   .values-list-item:not(:last-child) {
      margin-right: 24px;
   }
 }


 .values-subtitle {
   margin-bottom: 8px;
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 1.11;
 }

  @media only screen and (min-width: 768px) {
    .values-subtitle {
      text-align: left;

    }
  }

  @media only screen and (min-width: 1158px) {
     .values-subtitle {
         font-size: 20px;
         font-weight: 500;
         line-height: 1.2;
     }
  }

 .values-text {}

 /* #endregion Values */

 /* #region Team */

 .team {
     background-color: var(--cl-light);
 }

 .team-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
 }

 .team-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   row-gap: 72px;
 }

  @media only screen and (min-width: 768px) {
    .team-list {
      flex-direction: row;
      flex-wrap: wrap;
      row-gap: 64px;
      column-gap: 24px;
    } 
  }

  @media only screen and (min-width: 1158px) {
     .team-list {
      flex-wrap: nowrap;
      gap: 24px;
     }
  }

 .team-list-item {
   display: flex;
   flex-direction: column;
    background-color: var(--cl-white);
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;

   box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

   max-width: 264px;
 }

 @media only screen and (min-width: 768px) {
   .team-list-item {
   
   }
 }

 @media only screen and (min-width: 1158px) {
   .team-list-item {
     
   }

   /* .team-list-item:not(:last-child) {
      margin-right: 24px;
   } */
 }

  

 .team-image {}

 .team-text {
   padding: 32px 0;
 }

 .team-subtitle {
   text-align: center;
   margin-bottom: 8px;
 }

 .team-role {
   text-align: center;
   margin-bottom: 8px;
 }
   
 /* #endregion Team*/

 /* #region Portfolio  */

 .portfolio {
    background-color: var(--cl-white);
 }
   
 .portfolio-title {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
 }

.portfolio-cases {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 48px;
}

@media only screen and (min-width: 768px) {
   .portfolio-cases {
     flex-direction: row;
     flex-wrap: wrap;
     row-gap: 72px;
     column-gap: 24px;
  }
}

@media only screen and (min-width: 1158px) {
  .portfolio-cases {
    
  }
}

.portfolio-list-item {
   cursor: pointer;
   background-color: var(--cl-white);
   
   transition: var(--anim-duration-basic);
   transition-property: box-shadow;
}

@media only screen and (min-width: 768px) {
   .portfolio-list-item {
      width: calc((100% - (2 * 24px)) / 2);
   }
}

@media only screen and (min-width: 1158px) {
   .portfolio-list-item {
   max-width: 360px;
   width: calc((100% - (2 * 24px)) / 3);
   }
}

.portfolio-list-item:hover {
   box-shadow: 
   0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
   0px 1px 1px 0px rgba(46, 47, 66, 0.16), 
   0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.portfolio-list-item:hover p {
   transform: translateY(0%);
}

.portfolio-case-wrapper {
   position: relative;
   overflow: hidden;
}

.overlay-text {
   position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   
      padding: 40px 32px;
      background-color: var(--cl-primary-color);
      color: var(--cl-light);
   
      transform: translateY(100%);
      transition: var(--anim-duration-basic);
      transition-property: transform;

      font-size: 16px;

}

.overlay-text {
   
}

.case-card-text {
   padding: 32px 16px;
   border: 1px solid var(--cl-accent);
   border-top: none;
   
}

.portfolio-link {}

.portfolio-image {
}

.portfolio-subtitle {
   margin-bottom: 8px;
}

.potfolio-descriptor {
}

 /* #endregion Portfolio */

 /* #region Footer */
.footer {
   background-color: var(--cl-dark);
}

 .footer .container {
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-content: center;
   padding-top: 96px;
   padding-bottom: 96px;
 }

  @media only screen and (min-width: 768px) {
    .footer .container {
      flex-direction: row;
      flex-wrap: wrap;
      padding-left: 108px;
    }
  }

      @media only screen and (min-width: 1158px) {
        .footer .container {
            padding-left: 15px;
            flex-direction: row;
            flex-wrap: nowrap;
            padding-top: 100px;
            padding-bottom: 100px;
        }
      }

 
 .footer-column {
   display: flex;
   flex-direction: column;
 }

 .footer-title {
   color: var(--cl-white);
   font-weight: 500;
   letter-spacing: 0.032%;

 }

 .footer  a {
   margin-bottom: 16px;
   text-align: center;
 }

 @media only screen and (min-width: 768px) {
   .footer a {
      text-align: left;
   }
 }

 .footer p {
   
 }

 .text-footer {
    color: var(--cl-light);
    max-width: 288px;
    margin-bottom: 72px;
 }

  @media only screen and (min-width: 768px) {
    .text-footer {
       max-width: 264px;
      margin-right: 24px;
    }
  }

  @media only screen and (min-width: 1158px) {
     .text-footer {
      margin-right: 120px;
      margin-bottom: 16px;
     }
  }

  .footer-title {
   text-align: center;
   margin-bottom: 16px;

  }

   @media only screen and (min-width: 768px) {
      .footer-title {
         text-align: left;
      }
   }

      @media only screen and (min-width: 1158px) {
         .footer-title {

         }
      }

 .footer .socials {
   display: flex;
   margin-bottom: 72px;
}

@media only screen and (min-width: 768px) {
   .footer .socials {
      margin-bottom: 0;
   }
}

@media only screen and (min-width: 1158px) {
   .footer .socials {
        display: flex;
        gap: 16px;
        margin-right: 80px;

     }
  }

 .footer .socials-list-item {
   width: 40px;
   height: 40px;
 }

  .footer .social-icons {
   width: 100%;
   height: 100%;
  }

 .footer .social-icons:hover,
 .footer .social-icons:focus {
   background-color: var(--cl-success);
 }

 .subscribe-form {
   display: flex;
   flex-direction: column;
   gap: 16px;
   justify-content: center;
   align-items: center;
}

@media only screen and (min-width: 768px) {
   .subscribe-form {
      flex-direction: row;
      gap: 24px;
     
   }
 }

 @media only screen and (min-width: 1158px) {
    .subscribe-form {
    }
 }

 .subscribe-input {
   display: block;
   padding-left: 16px;
   border: 1px solid var(--cl-white);
   border-radius: 4px;
   background-color: transparent;
   max-width: 288px;

   width: 264px;
   height: 40px;

   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.04em;

   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   color: var(--cl-white); 
   opacity: 0.6;  
 }

 @media only screen and (min-width: 768px) {
   .subscribe-input {
     max-width: 264px;
   }
 }

 @media only screen and (min-width: 1158px) {
   .subscribe-input {
      opacity: 1;
   }
 }

 
 .subscribe-input::placeholder {
   color: var(--cl-white)
 }

 .button {}

 .btn-subscribe {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 8px 24px;
   border-radius: 4px;
   min-width: 165px;
   height: 40px;

   color: var(--cl-white);
   background-color: var(--cl-primary-color);

   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
 }

 .button-icon {
   fill: currentColor;
   margin-left: 16px;
 }

 /* #endregion Footer*/

/* #region Modal  */
  .modal-backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 999;
   overflow:hidden;

   background-color: rgb(var(--cl-modal-overlay)) ;

   visibility: hidden;
   pointer-events: none;
   opacity: 0;

   transition: var(--anim-duration-basic);
      transition-property: visibility, opacity;
  }

  .modal-backdrop.is-open {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
  }

  .modal {
   position: absolute;
   min-width: 288px;
   min-height: 584px;
   top: 50%;
   left: 50%;

   transform: translate(-50%, -50%);


   background-color: var(--cl-modal-bg);
   padding: 72px 16px 24px 16px;
   box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

   border-radius: 4px;

   transition: var(--anim-duration-basic);
      transition-property: transform;

  }

  @media only screen and (min-width: 768px) {
    .modal {
      max-width: 408px;
      padding: 72px 24px 24px 24px;
    }
  }

  .modal-backdrop:not(.is-open) .modal {
   transform: translate(-50%, -50%), scale(0.85);
  }

  .close-button {
   position: absolute;
   right: 24px;
   top: 24px;

   width: 24px;
   height: 24px;

   display: flex;
   justify-content: center;
   align-items: center;
   padding: 0;

   background-color: var(--cl-accent);
   border: 1px solid rgb( 0 0 0 / 0.1);
   border-radius: 50%;

   fill: var(--cl-dark);
   line-height: 0;

   transition: var(--anim-duration-basic);
   transition-property: background-color, border;
  }

  .close-button:hover,
  .close-button:focus {
   background-color: var(--cl-pressed-state);
   border: transparent;
   fill: var(--cl-white);
  }

  .close-icon {
   line-height: 0;
   padding: 0;
   margin: 0;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }

  .modal-caption {
   text-align: center;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: 0.02em;
   color: var(--cl-dark);
   margin-bottom: 16px;


  }

  .modal-label {
      display: block;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.04em;
      color: var(--cl-subtle-text);
      margin-bottom: 4px;
      
  }

  .field-wrapper {
   margin-bottom: 8px;
  }

  .field-wrapper-comment {
   margin-bottom: 16px;
  }

  .form-field {
   width: 100%;
   position: relative;
  }

  .field-icon {
   fill: var(--cl-dark);
   position: absolute;
   left: 16px;
   top: 50%;
   transform: translateY(-50%);
   pointer-events: none;

   transition: var(--anim-duration-basic);
   transition-property: fill;
  }

  .modal-input:focus + .field-icon {
     fill: var(--cl-primary-color);
  }

  .modal-input {
   width: 100%;
   display: block;
   height: 40px; 
   padding: 8px 38px 8px;
   border-radius: 4px;
   margin-bottom: 8px;
   outline: transparent;
   background-color: transparent;
   border: 1px solid rgb(var(--cl-modal-overlay));

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }

  .modal-input:focus {
     border-color: var(--cl-primary-color);  
  }



  .modal-text-area {
   width: 100%;
   display: block;
   resize: none;
   padding: 8px 16px;
   height: 120px;
   border-radius: 4px;
   
   font-size: 12px;
   line-height: 116.6%;
   letter-spacing: 0.04em;
   line-height: 1.17;

   color: rgb(var(--cl-modal-overlay));
   background-color: transparent;
   
   outline: transparent;
   border: 1px solid rgb(var(--cl-modal-overlay));
   transition: var(--anim-duration-basic);
   transition-property: border-color;
  }

  .modal-text-area::placeholder {
   color: rgb(var(--cl-modal-overlay));
  }

  .modal-text-area:focus {
   border-color: var(--cl-primary-color);
  }

  .form-agreement {
   display: flex;
   align-items: center;
   margin-bottom: 24px;
  }

  .agreement-label {
   font-size: 12px;
      font-weight: 400;
      line-height: 1.17;
      letter-spacing: 0.04em;
   
      color: var(--cl-subtle-text);
      display: flex;
  }

  .checkbox {
   display: inline-flex;
   flex-shrink: 0;
   justify-content: center;
   align-items: center;
   width: 16px;
   height: 16px;
   cursor: pointer;
   margin-right: 8px;
   
   fill: transparent;
   border-radius: 2px;
   border: 1px solid rgba(46, 47, 66, 0.4);
   
   transition: var(--anim-duration-basic);
   transition-property: background-color, border, fill;
  }

  input[type="checkbox"]:checked + .agreement-label > .checkbox {
     border: none;
     background-color: var(--cl-pressed-state);
      fill: #F4F4FD;
  }

  .text-link {
   color: var(--cl-primary-color);
   text-decoration: underline;
  }

  .form-button {
   display: block;
   min-width: 169px;
   height: 56px;

   font-weight: 500;
   letter-spacing: 0.04em;
   line-height: 1.5;
   
   background-color: var(--cl-primary-color);
   color: var(--cl-white);

   padding: 16px 32px;
   margin: 0 auto;
   min-width: 169px;
   border-radius: 4px;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

   cursor: pointer;

   transition: var(--anim-duration-basic);
   transition-property: background-color;
}
   
   .form-button:hover,
   .form-button:focus {
      background-color: var(--cl-pressed-state);
  }
/* #endregion Modal */